@font-face{
    font-family: "Rockwell Condensed";
    src: url("d007e5e80d2a1e560bcd791f56860028.eot");
    src: url("d007e5e80d2a1e560bcd791f56860028.eot?#iefix")format("embedded-opentype"),
        url("d007e5e80d2a1e560bcd791f56860028.woff")format("woff"),
        url("d007e5e80d2a1e560bcd791f56860028.woff2")format("woff2"),
        url("d007e5e80d2a1e560bcd791f56860028.ttf")format("truetype"),
        url("d007e5e80d2a1e560bcd791f56860028.svg#Rockwell Condensed")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
footer{
    height: auto;
    width: 1440px;
    margin-bottom: 0px;
    padding-bottom: 0;
    bottom: 0;
    background-color: #F6FFF9 ;
}
.kits h2{
    font-family: 'Rockwell Condensed';
}
.kits h3{
    font-family: "Rockwell Condensed";
}
h4{
    font-family: "Rockwell Condensed";
}
@media (max-width: 768x){
  
    
}