*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
footer{
    height: auto;
    width: 1440px;
    margin-bottom: 0px;
    padding-bottom: 0;
    bottom: 0;
}
.kits h2{
    font-family: 'Oswald';
}
.kits h3{
    font-family: "Oswald";
}
h4{
    font-family: "Oswald";
}
@media (max-width: 768x){
  
    
}